.friendList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 280px;
  margin: auto;
}

.item {
  display: flex;
  gap: 5px;
  align-items: center;
  padding-left: 35%;
}

.status {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.isOnline {
  background-color: green;
}

.notOnline {
  background-color: red;
}
