.statistics {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.statList {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;

  background-color: yellowgreen;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  font-size: 16px;
  color: white;
}
